@model CadastroCliente.Domain.Dtos.EnderecoDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EnderecoDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Logradouro" class="control-label"></label>
                <input asp-for="Logradouro" class="form-control" />
                <span asp-validation-for="Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" asp-items="ViewBag.Clientes" class="form-control">
                    <option value="">Selecione um cliente</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
